.headwrap{
    display: flex;
    justify-content: space-between;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}
.toplink{
    width: 55px;
    height: 55px;
}
.headtext{
 vertical-align: middle;   
}